<a class="scroll-top-arrow" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>

<!--LOADER-->
<!--LOADER-->
<!-- START HEADER NAVIGATION -->

<!-- END HEADER NAVIGATION -->

<!--Slider Start-->
<div class="map-load">
    <div id="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3451.9911739439594!2d105.73463688630883!3d21.052839164523167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313455096bffd057%3A0xa955f16b38f6de93!2zSGFVSSBab25lIC0gxJDhuqFpIGjhu41jIEPDtG5nIG5naGnhu4dwIEjDoCBO4buZaQ!5e1!3m2!1sen!2s!4v1730367870248!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<!--Slider End-->

<!-- Contact Us Start -->
<section class="contact-sec" id="contact-sec">

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 contact-description wow slideInLeft" data-wow-delay=".8s">
                <div class="contact-detail wow fadeInLeft">
                    <div class="ex-detail">
                        <span class="fly-text">LIÊN HỆ CHÚNG TÔI</span>
                        <h4 class="large-heading">
                            <span class="heading-1">Gửi thông tin liên hệ</span>
                        </h4>
                    </div>
                    <p class="small-text text-center text-md-left">
                      Nếu bạn có bất kỳ câu hỏi nào về sản phẩm, đơn hàng hoặc dịch vụ của chúng tôi, đừng ngần ngại liên hệ với chúng tôi. Chúng tôi luôn sẵn sàng hỗ trợ bạn!
                    </p>
                    <div class="row location-details text-center text-md-left">
                        <div class="col-12 col-md-6 country-1">
                            <h4 class="heading-text text-left">Việt Nam</h4>
                            <ul>
                                <li><i class="fas fa-mobile-alt"></i><a href="#">0328689795</a></li>
                                <li><i class="fas fa-envelope"></i><a href="#">trang&#64;gmail.com</a></li>
                                <li><i class="fas fa-map-marker"></i><a href="#">Bắc Từ Liêm, Hà Nội</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-6 couuntry-1">
                            <h4 class="heading-text text-left">Việt Nam</h4>
                            <ul>
                                <li><i class="fas fa-mobile-alt"></i><a href="#">0898495121</a></li>
                                <li><i class="fas fa-envelope"></i><a href="#">trangnguyen1602003&#64;gmail.com</a></li>
                                <li><i class="fas fa-map-marker"></i><a href="#">Phúc Thọ, Hà Nội</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 contact-box text-center text-md-left wow slideInRight" data-wow-delay=".8s">
                <div class="c-box wow fadeInRight">
                    <h4 class="small-heading" style="font-family: 'roboto';">Gửi lời nhắn</h4>
<!--                        <p class="small-text">Lorem ipsum is simply dummy text of the printing and typesetting industry. </p>-->
                    <form class="contact-form" id="contact-form-data">
                        <div class="row my-form">
                            <div class="col-md-12 col-sm-12">
                                <div id="result"></div>
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="text" class="form-control" id="candidate_fname" name="fullName" placeholder="Họ và tên" required="required" [(ngModel)]="fullName">
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="email" class="form-control" id="user_email" name="userEmail" placeholder="Email" required="required" [(ngModel)]="email">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control" id="user_subject" name="userSubject" placeholder="tiêu đề" required="required" [(ngModel)]="title">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control" id="user_message" name="userMessage" placeholder="Lời nhắn" rows="7" required="required" [(ngModel)]="message"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn green-color-yellow-gradient-btn user-contact contact_btn" type="button" (click)="sendMessage()"> Gửi
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Us End -->

<!--footer1 sec start-->
<div class="footer">
    <div class="container">
        <div class="row footer-container">
            <div class="col-sm-12 col-lg-4 f-sec1  text-center text-lg-left">
                <h4 class="high-lighted-heading">About Us</h4>
                <p>We take our mission of increasing our global access to quality education seriously. </p>
                <a href="#">Read more</a>
                <h4>Social Network</h4>
                <div class="s-icons">
                    <ul class="social-icons-simple">
                        <li><a href="javascript:void(0)" class="facebook-bg-hvr"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                        <li><a href="javascript:void(0)" class="twitter-bg-hvr"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
                        <li><a href="javascript:void(0)" class="instagram-bg-hvr"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-lg-5 f-sec2 ">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h4 class="text-center text-md-left">Information</h4>
                        <ul class="text-center text-md-left">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Condition</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Products</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6">
                        <h4 class="text-center text-md-left">Account Info</h4>
                        <ul class="text-center text-md-left">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Login & Register</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Shipping Info</a></li>
                            <li><a href="#">Refund Policy</a></li>
                            <li><a href="#">Responsive Website</a></li>
                            <li><a href="#">Subscription</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3 f-sec3  text-center text-lg-left">
                <h4>Our Portfolio</h4>
                <div class="foot-tag-list">
                    <span>Classic</span>
                    <span>Journal</span>
                    <span>History</span>
                    <span>Poetry</span>
                    <span>Dictionary</span>
                    <span>Shopping</span>
                    <span>Fantasy</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 footer_notes">
                <p class="whitecolor text-center w-100 wow fadeInDown">&copy; 2020 MegaOne. Made With Love by <a class="web-link" href="http://www.themesindustry.com/" target="_blank">Themesindustry</a></p>
            </div>
        </div>
    </div>
</div>

<p-toast></p-toast>
<!--foo0ter1 sec end-->

<!--START SEARCH AREA-->

<!--END SEARCH AREA -->

<!--START Cart Box-->

