

::ng-deep .p-fileupload-buttonbar,
::ng-deep .p-fileupload-row{
  padding: 10px;
}

::ng-deep .p-fileupload-row div{
  text-align: center;
}

::ng-deep .p-fileupload-choose{
  margin-right: 10px;
}




.itemDes{
  margin: 10px 0;
  display: flex;
}
.itemDes div{

  min-width: 200px;
}


